@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-padding-top: 55px
}

header {
    grid-area: hd;
    background: url("../img/tyg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    grid-area: mn;
    background-color: whitesmoke;
} 

footer {
    grid-area: ft;
    background-color: #0f091a;
    color: whitesmoke;;

    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
}

footer > *{
    margin: auto;
}

/* Storskräm --------------------------------------------------------------- */

@media screen and (min-width: 1024px) {
    #wrapper {
        display: grid;
        height: 100%;
        width: 100%;
    
        grid-template-areas:
        "hd hd hd hd hd hd"
        "nv nv nv nv nv nv"
        "a1 mn mn mn a2 a2"
        "ft ft ft ft ft ft"
        ;
    
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 35vh auto auto 30vh;
    }

    nav {
        grid-area: nv;
        background-color: #0f091a;
        position: sticky;
        top: 0;
    }

    nav > ul {
        list-style: none;

        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    nav > ul > li {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }


    nav > ul > li > * {
        display: inline-block;
        padding: 15px 30px;
        white-space: nowrap;
        color: whitesmoke;
        text-decoration: none;
        text-transform: uppercase;
    }

    nav > ul > li > *:hover {
        background: rgb(66, 66, 66);
    }

    nav > ul > li > *:active {
        background: rgb(36, 36, 36);
    }

    nav > ul > li > #active {
        background-color: #7F52CD;
    }

    nav > ul > li > #active:hover {
        background-color: rgb(135, 123, 207);
    }
    nav > ul > li > #active:active {
        background-color: rgb(118, 107, 179);
    }

    .meny_knapp {
        display: none;
    }

    #a1 {
        grid-area: a1;
        background-color: #7F52CD;

        display: flex;
        justify-content: center;
    }

    #a1 > ul {
        list-style: none;
        margin-top: 30%;
        margin-right: 20px;
    }

    #a1 > ul > li {
        margin: 30px 0;
    }

    #a1 > ul > li > * {
        text-decoration: none;
        color: whitesmoke;
        line-height: 4px;
    }

    #a1 > ul > li > *:hover {
        text-decoration: none;
        color: #af82fd;
    }

    #a2 {
        grid-area: a2;
        background-color: whitesmoke;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #a2 > figure {
        height: 100%;
        margin-top: 30%;
    }
    
    #a2 > figure > img {
        height: 5%;
        width: auto;
    }
}

/* Hem-sidan --------------------------------------------------------------- */

#hem_main > * {
    display: flex;
    flex-wrap: wrap;
    margin: 3% 12% 3% 12%;
}

#hem_main > h1, #hem_main > h2 {
    margin-top: 8%;
}

/* Andra-sidan --------------------------------------------------------------- */


/* Tredje-sidan --------------------------------------------------------------- */

#sida3_main > * {
    margin: 10% 0% 10% 20%;
}

#sida3_main > figure >img {
    height: 70%;
    width: 70%;
}

/* Fjärde-sidan --------------------------------------------------------------- */

#sida4_main {
    display: flex;
    flex-wrap: wrap;

    align-content: center;
    justify-content: center;

    padding: 14%;
}

#sida4_main > figure > {
    justify-content: last baseline baseline;
} 

#sida4_main > figure > img {
    height: 50%;
    border: #af82fd solid 1px;
    box-shadow: 0px 0px 4px grey;
}

#sida4_a2 {
    grid-area: a2;
    background-color: whitesmoke;
    
    display: flex;
    flex-direction: column;
    align-content: stretch;
}

#sida4_a2 > h1 {
    margin-top: 10%;
}


#sida4_a2 > * {
    display: flex;

    justify-content: flex-start;
    margin: 4% 5% 0% 0%;
}

/* Femte-sidan --------------------------------------------------------------- */


/* Litenskräm --------------------------------------------------------------- */
@media screen and (max-width: 1024px) {
    #wrapper {
        display: grid;
        height: 100%;
        width: 100%;
    
        grid-template-areas:
        "hd hd"
        "mb mb"
        "mn mn"
        "ft ft"
        ;
    
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 5% auto auto 7%;
    }

    nav {
        height: 100vh;
        width: 50vh;
        background: whitesmoke;
        position: fixed;
        right: none;
        top: 0;
        right: -50vw;
        transition: right 0.3s;
        z-index: 10;
        margin: 0;
    }

    nav > ul {
        display: flex;
        flex-direction: column;

        margin: 10% 0;
        list-style: none;
    }

    nav > ul > li > * {
        display: flex;
        align-items: center;
        color: #7F52CD;
        text-decoration: none;
        font-size: 150%;
        margin: 10% 10% 10% 0;
        padding-bottom: 5%;
        border-bottom: #7F52CD solid 1px;
    }

    nav > ul > li > *:hover {
        color: black;
        border-bottom: black solid 1px;
    }

    .visa {
        right: 0;
    }

    .meny_knapp {
        grid-area: mb;
        position: sticky;
        top: 0;
        cursor: pointer;
        color: whitesmoke;
        background-color: #0f091a;
        padding: 0.7% 0;

        display: flex;
        justify-content: flex-end;
    }

    .meny_knapp > * {
        margin-right: 1%;
    }
    
    .meny_knapp i.material-icons {
        font-size: 2.5rem;
    }
    
    .fade_layer {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.3);
        display: none;
        z-index: 5;
    }
    
    .synlig {
        display: block;
    }

    #a1 {
        display: none;
    }

    #a2 {
        display: none;
    }
}